extends layout

block content

  h1 #{title}: #{book.title}
  
  p #[strong Author: ]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary: ] #{book.summary}
  p #[strong ISBN: ] #{book.ISBN}
  p #[strong Genres: ]
    each genre, index in book.genre
      a(href=genre.url) #{genre.name}
      if index < book.genre.length - 1
       |,&nbsp;
        
  hr

  if book_instances.length > 0

    p #[strong Delete the following copies before attempting to delete this book.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Copies
      each instance in book_instances
        hr
        if instance.status=='Available'
          p.text-success #{instance.status}
        else if instance.status=='Maintenance'
          p.text-danger #{instance.status}
        else
          p.text-warning #{instance.status}
        p #[strong Imprint: ] #{instance.imprint}
        if instance.status != 'Available'
          p #[strong Due back: ] #{instance.due_back_formatted}
        p #[strong Id:]
          a(href=instance.url) #{instance._id}

  else
    p Do you really want to delete this Book?

    form(method='POST')
      div.form-group
        input#bookid.form-control(type='hidden', name='bookid', value=book._id )

      button.btn.btn-primary(type='submit') Delete